#about{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    width : 100%;
    height: 50vw;
    /* background: red; */
}
#about .decoration{
    position: absolute;
    width : 40%;
    height: 100%;
    top : 0;
    left : 0;
    background: var(--gris-gradient);
    filter: blur(10px);
    z-index: -1;
}
#about .about-contain{
    display: flex;
    position: relative;
    width : 70%;
    height: 90%;
    /* background: var(--text2); */
    /* box-shadow: 0 10px 15px rgba(0,0,0,.1); */
    
}
#about .about-contain .image{
    width: 35%;
}
#about .about-contain .image img{
    width : 100%;
    height: 100%;
    object-fit: contain;
}
#about .about-contain .desc{
    display: flex;
    flex-direction: column;
    /* background: var(--text2); */
    gap : 20px;
    width : 65%;
    border-radius: 0 5px 5px 0;
}
#about .about-contain .desc .text{
    display: flex;
   justify-content: center;
    flex-direction: column;
    gap : 25px;
    height: 50%;
    overflow-wrap: break-word;
}
#about .about-contain .desc .text h1{
    text-transform: uppercase;
    color: var(--text);
}
#about .about-contain .desc .text p{
    color: var(--text2);
}
#about .about-contain .desc .text .others{
    margin-top: 20px;
}
#about .about-contain .desc .text .others a{
    font-size: .8em;
    text-decoration: none;
    padding : 8px 12px;
    border-radius: 10px;
    color : #000;
    background: var(--text);
}
#about .about-contain .desc .text .others a i{
    margin-right: 10px;
}
#about .about-contain .desc .skills{
    display: flex;
    height: 50%;
    background: var(--text2);
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0.1);
}
#about .about-contain .desc .skills .chart-skills{
    width : 50%
}
#about .about-contain .desc .skills .chart-skills svg{
    width : 120%;
    height: 120%;
}
#about .about-contain .desc .skills .chart-skills svg path{
    transition: .4s;
}
#about .about-contain .desc .skills .chart-skills svg path:hover{
    transform: scale(1.05);
}
#about .about-contain .desc .skills .chart-skills svg text{
    font-size: 2em;
}

/* partie responsive de l'about  */

@media (max-width : 850px){
    #about{
        margin: 25% 0;
    }
    #about .about-contain{
        height: auto;
        flex-direction: column;
    }
    #about .about-contain .image{
        width : 100%;
        height: 30vh;
    }
    #about .about-contain .desc{
        width : 100%;
        height : 50vh;
    }
}

@media (max-width : 450px){
    #about{
        margin: 100% 0;
    }
    #about .about-contain .image{
        height: 40vh;
    }
    #about .about-contain .desc{
        height : 80vh;
    }
}